
@import "../../assets/styles/vars";

.container {
  display: flex;
  flex-flow: column nowrap;
  @include minWidth($w1) { flex-flow: row nowrap; }

  > .box {
    flex: 1;
  }

  .card-50 {
    background-color: hsl(0, 30%, 95%);
  }
  
  .card-100 {
    background-color: hsl(120, 30%, 95%);
  }
    
  .card-200 {
    background-color: hsl(240, 30%, 95%);
  }
}
