
@import "../../assets/styles/vars";

.title {
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  @media screen and (min-width: $w1) { flex-flow: row nowrap; }

  > .box {
    flex: 1;
    margin-bottom: 1rem;
  }

  .card-50 {
    background-color: hsl(0, 30%, 95%);
  }
  
  .card-100 {
    background-color: hsl(120, 30%, 95%);
  }
    
  .card-200 {
    background-color: hsl(240, 30%, 95%);
  }
}
