
.app {
  display: block;
  max-width: 1100px;
  margin: auto;
  background-color: #fafafa;
  
  $cardHeight: 400px;
    
  .container {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: $cardHeight;
    grid-auto-rows: $cardHeight;

    .card-50 {
      background-color: hsl(0, 50%, 90%);
    }

    .card-100 {
      background-color: hsl(120, 50%, 90%);
    }
    
    .card-200 {
      background-color: hsl(240, 50%, 90%);
    }
  }
}