/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, serif;
}
  
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
  vertical-align: middle;
}
  
svg {
  width: 1em;
  path {
    fill: #4691f6;
  }
}