.button {
    width: 100%;
    min-width: 7rem;
    padding: .5rem 1rem;
    border-radius: .4rem;
    text-align: center;
    cursor: pointer;
    @extend .row;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-family: 'Regular';
    font-size: 1rem;
    border: 1px solid transparent;
    outline: none;

    &._normal {
        background: var(--colorGreen);
        color: #fff;
    }
    &._group {
        width: auto;
    }
    &._dark {
        background: none;
        color: #000;
        border-color: #000;
    }
    &._reject {
        background: none;
        color: #D93939;
        border-color: #D93939;
    }
    &._green {
        background: none;
        color: var(--colorGreen);
        border-color: var(--colorGreen);
    }
    &._dark {
        border-color: #000;
        color: #000;
    }
    &._hard {
        font-family: 'Bold';
    }
    &:disabled {
        background: hsl(var(--greenHue), calc(var(--greenSat) * 0.12), calc(var(--greenLight) * 1.8));
        pointer-events: none;
    }
    &:hover {
        background: hsl(var(--greenHue), var(--greenSat), calc(var(--greenLight) - 5%));
    }
}
