.button {
    width: 100%;
    min-width: 7rem;
    padding: .5rem 1rem;
    border-radius: .4rem;
    text-align: center;
    cursor: pointer;
    @extend .row;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-family: 'Regular';
    font-size: 1rem;
    border: 1px solid transparent;
    outline: none;
    text-transform: uppercase;
    --disabled-color: hsl(#{cssvar(green-hue)}, calc(#{cssvar(green-sat)} * 0.12), calc(#{cssvar(green-light)} * 1.8));
    --hover-color: hsl(#{cssvar(green-hue)}, #{cssvar(green-sat)}, calc(#{cssvar(green-light)} - 5%));

    &._normal {
        background: cssvar(color-green);
        color: #fff;
    }
    &._group {
        width: auto;
    }
    &._dark {
        background: none;
        color: #000;
        border-color: #000;
    }
    &._reject {
        background: none;
        color: #D93939;
        border-color: #D93939;
    }
    &._green {
        background: none;
        color: cssvar(color-green);
        border-color: cssvar(color-green);
    }
    &._dark {
        border-color: #000;
        color: #000;
    }
    &._hard {
        font-family: 'Bold';
    }
    &:disabled {
        background: var(--disabled-color);
        pointer-events: none;
    }
    &:hover {
        background: var(--hover-color);
    }
    &:active {
        transform: translateY(2px);
    }
}
