.confirm {
    width: 100%;
    position: relative;
    display: block;
    &__input {
        display: none;
    }
    &__view {
        width: 100%;
        @extend .row;
        align-items: center;
        cursor: pointer;
    }
    &__field {
        width: 1.4rem;
        height: 1.4rem;
        border-radius: .2rem;
        border: 1px solid #c8c8c8;
        position: relative;
        margin: 0 .7rem 0 0;
        @extend .col;
        justify-content: center;
        align-items: center;
        &Dot {
            width: .6rem;
            height: .6rem;
            background: var(--colorGreen);
            opacity: 0;
            transition: .3s ease-in-out;
        }
        &._error {
            box-shadow: none;
            border: 1px solid #D93939;
        }
    }
    &._round &__field {
        border-radius: 50%;
        &Dot {
            border-radius: 50%;
        }
    }
    &__view:hover > &__field {
        border: 2px solid var(--colorGreen);
    }
    &__input:checked~&__view &__field &__fieldDot {
        opacity: 1;
    }
    &__input:checked~&__view &__content {
        font-weight: 600;
    }
    &__content {
        width: calc(100% - 2.1rem);
        font-size: 1.15rem;
        font-family: 'Regular';
        color: var(--colorDark);
        user-select: none;
    }
    &__link {
        color: var(--colorBlue);
    }
}