.confirm {
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
    --size: 1;

    &._medium {
        --size: 0.66;
    }

    img {
        width: 100%;
        object-fit: contain;
        border: 2px solid transparent;
    }

    &:hover > img {
        border-color: var(--colorLightGray) var(--colorGray) var(--colorGray) var(--colorLightGray);
    }

    &:hover  &__field {
        border: 2px solid var(--colorGreen);
    }

    &:hover  &__content {
        color: var(--colorDark);
    }

    &__input {
        display: none;
    }

    &__view {
        width: 100%;
        @extend .row;
        align-items: center;
        margin-bottom: 0.7rem;
    }

    &__field {
        width: calc(1.4rem * var(--size));
        height: calc(1.4rem * var(--size));
        border-radius: .2rem;
        border: 1px solid var(--colorGray);
        position: relative;
        margin: 0 .7rem 0 0;
        @extend .col;
        justify-content: center;
        align-items: center;
        &Dot {
            width: calc(.5rem * var(--size));
            height: calc(.5rem * var(--size));
            background: var(--colorGreen);
            opacity: 0;
            transition: .3s ease-in-out;
        }
        &._error {
            box-shadow: none;
            border: 1px solid #D93939;
        }
    }

    &._round &__field {
        border-radius: 50%;
        &Dot {
            border-radius: 50%;
        }
    }

    &__input:checked ~ &__view &__field &__fieldDot {
        opacity: 1;
    }

    &__input:checked ~ &__view &__content {
        color: #000;
    }

    &__input:checked ~ img {
        filter: grayscale(70%);
    }

    &__content {
        width: calc(100% - 2.1rem);
        font-size: calc(1.15rem * var(--size));
        font-family: 'Regular';
        color: var(--colorGray);
        user-select: none;
    }

    &__link {
        color: var(--colorBlue);
    }
}