@font-face {
    font-family: "Regular";
    src: url("/assets/fonts/Roboto/Roboto-Regular.woff");
    font-display: swap;
}

@font-face {
    font-family: "Medium";
    src: url("/assets/fonts/Roboto/Roboto-Medium.woff");
    font-display: swap;
}

@font-face {
    font-family: "MediumItalic";
    src: url("/assets/fonts/Roboto/Roboto-MediumItalic.woff");
    font-display: swap;
}

@font-face {
    font-family: "Light";
    src: url("/assets/fonts/Roboto/Roboto-Light.woff");
    font-display: swap;
}

@font-face {
    font-family: "LightItalic";
    src: url("/assets/fonts/Roboto/Roboto-LightItalic.woff");
    font-display: swap;
}

@font-face {
    font-family: "Bold";
    src: url("/assets/fonts/Roboto/Roboto-Bold.woff");
    font-display: swap;
}

@font-face {
    font-family: "Black";
    src: url("/assets/fonts/Roboto/Roboto-Black.woff");
    font-display: swap;
}