$icon-path: '../img' !default;

.base-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.base-icon {
    @extend .base-icon-background;
    position: relative;
    display: inline-block;
    line-height: 1em;
    &::before {
        content: '\00a0';
    }
}
 
.icon {
    @extend .base-icon;
    width: 1em;
}

@mixin icon($icon) {
    .icon-#{$icon} {
        background-image: url(#{$icon-path}/#{$icon}.svg);
    }
}

.flag-icon {
    @extend .base-icon;
    width: (4 / 3) * 1em;
}

@mixin flag-icon($country) {
    .flag-icon-#{$country} {
        background-image: url(#{$icon-path}/#{$country}.svg);
    }
}

@include icon(phone-invert);
@include flag-icon(ru);
@include flag-icon(gb);
