.sectionMenu {
    padding: 1rem 0;
    &__content {
        width: 100%;
        height: 100%;
        @extend .col;
    }
    &__title {
        width: 100%;
        text-align: center;
        padding: 0 2rem;
    }
    &__title + &__form {
        margin-top: 2rem;
    }
    &__form {
        width: 100%;
        &El+&El {
            margin-top: 1rem;
        }
        &El {
            width: 100%;

            &._flex {
                @extend .flex;
                ._item {
                    flex: 1;
                }
            }

            &._button {
                @extend .col;
                margin-top: 3rem;
                align-items: center;
                ._item {
                    width: 7rem;
                }
            }            
            &._confirm {
                width: 25rem;
                margin: 3rem auto 0 auto;
            }
        }
    }
}
