.sectionSupport {
    &__content {
        width: 100%;
        height: 100%;
        padding: 1rem 0;
        @extend .col;
    }
    &__table {
        padding: 1rem 0;
        width: 100%;
        ul {
            @extend .flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: stretch;
            padding: 0 1rem;
            margin: 0 auto;
            li {
                font-family: 'Regular';
                width: 11rem;
                margin-top: 1rem;
                padding: 0.5em;
                &:hover {
                    background-color: cssvar(color-some-gray);
                    cursor: pointer;
                }
            }
        }
    }
}
