.nav {
    .navbar-item {
        font-family: "light";
        .logo-content {
            font-family: "Medium";
            color: cssvar(color-gray);
            &::first-letter {
                color: cssvar(color-green);
            }
        }
        &:hover {
            color: cssvar(color-green-hover);
            font-weight: 600;
        }
    }
}
