.nav {
    .navbar-item {
        text-decoration: none;
        font-family: "Regular";
        .logo-content {
            font-family: "Medium";
            color: cssvar(color-gray);
            &::first-letter {
                color: cssvar(color-green);
            }
        }
        &.is-active {
            background-color: cssvar(color-very-light-gray);
            color: cssvar(color-green-hover);
        }
        &[href]:hover {
            text-decoration: underline;
        }
    }
}
