.sectionSupport {
    &__content {
        width: 100%;
        height: 100%;
        padding: 1rem 0;
        @extend .col;
    }
    &__list {
        width: 100%;
        ul {
            @extend .col;
            flex-wrap: nowrap;
            align-items: stretch;
            padding: 0 1rem;
            margin: 0 auto;
            li {
                font-family: 'Regular';
                font-size: 1.2rem;
                color: cssvar(color-gray);
                width: 100%;
                margin-top: 1rem;
                padding: 0.5em;
                &:hover {
                    background-color: cssvar(color-some-gray);
                    cursor: pointer;
                }
                .ussd {
                    margin-right: .5em;
                }
            }
        }
    }
}
