.text {
    display: flex;
    width: 100%;
    font-size: 1rem;
    font-family: 'Regular';
    line-height: 1;
    &._medium {
        font-size: .7rem;
        line-height: 1.5;
    }
    &._dark {
        color: #000;
    }
    .centered {
        margin: 0 auto;
    }
}