.title {
    width: 100%;
    font-family: 'Black';
    font-size: 2.9rem;
    line-height: 1.2;
    &._medium {
        font-size: 2.3rem;
    }
    &._small {
        font-size: 2.0rem;
    }
    &._grey {
        color: #aaa;
    }
    &._dark {
        color: #000;
    }
    &._green {
        color: $colorGreen;
    }
}
