.title {
    width: 100%;
    font-family: 'Black';
    font-size: 2rem;
    line-height: 1.2;
    &._medium {
        font-size: 1.5rem;
    }
    &._small {
        font-size: 1.1rem;
    }
    &._grey {
        color: #aaa;
    }
    &._dark {
        color: #000;
    }
    &._green {
        color: var(--colorGreen);
    }
}
