$cardHeight: 400px;
$w1: 500px;
$colorGreen: #6BA30F;
$colorDark: #333333;
$colorBlue: #0054B9;

@mixin minWidth($w1) {
  @media screen and (min-width: $w1) {
      @content;
  }
}

@mixin width($w1, $w2) {
  @media screen and (min-width: $w1) and (max-width: $w2) {
      @content;
  }
}