
$default_prefix: app;
$min-landscape-width: 500px;

@mixin min-width($w: $min-landscape-width) {
  @media screen and (min-width: $w) {
      @content;
  }
}

@function cssvar($name, $prefix: $default_prefix) {
  @return var(--#{$prefix}-#{$name});
}

@mixin cssvars($css_variables, $prefix: $default_prefix) {
  :root {
    @each $name, $value in $css_variables {
      --#{$prefix}-#{$name}: #{$value};
    }
  }
}

@include cssvars((
  green-hue: 83,
  green-sat: 83%,
  green-light: 35%,
  color-green: hsl(cssvar(green-hue), cssvar(green-sat), cssvar(green-light)),
  color-green-hover: hsl(cssvar(green-hue), cssvar(green-sat), calc(#{cssvar(green-light)} * 0.86)),
  color-green-disabled: hsl(cssvar(green-hue), calc(#{cssvar(green-sat)} * 0.12), calc(#{cssvar(green-light)} * 1.8)),
  color-very-light-gray: hsl(0, 0%, 98%),
  color-light-gray: hsl(0, 0%, 78%),
  color-gray: hsl(0, 0%, 38%),
  color-dark: hsl(0, 0%, 20%),
  w1: 500px
));
